# Vite environment variables must be prefixed with VITE_ to be exposed to
# the frontend code. This variable is used in the frontend to determine whether
# to bypass authentication for local development.
# It should never be set to 1 in production environments.
VITE_AUTH_BYPASS=0
